SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
ADMIN_EMAIL=
ADMIN_SECRET=
PORT=3000
ALLOWED_ORIGINS=
NODE_ENV=development
BACKEND_URL=
MONIME_ACCESS_TOKEN=
MONIME_SPACE_ID=
MONIME_WEBHOOK_SECRET=
GMAIL_APP_PASSWORD=
GROQ_API_KEY=
